// * * binded style variables * *
// --options-height --> dynamic options menu height
// --option-height --> dynamic single option item height
// --dropdown-width --> dynamic dropdown & options drawer width

$border-bg: #232b35;
$background-bg: #4a5b70;	
$default-border-radius: 4px;	
$default-hover-color: #0084d4;
$default-text-hover-color: #000;

.dropdown {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: var(--dropdown-width);
	height: var(--option-height);
	padding: 0 5px;
	position: relative;
	border: 1px solid $border-bg;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
	background: $background-bg;
	user-select: none;
	.text {}
	i {
		margin-left: 5px;
	}
	.options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: var(--dropdown-width);
		height: var(--options-height);
		margin-bottom: calc( -1 * var(--options-height) - 3px);
		position: absolute;
		left: -1px;
		bottom: 0;
		z-index: 1;
		background: $background-bg;
		border-radius: $default-border-radius;
		border: 1px solid $border-bg;
		.option {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 0 5px;
			height: 35px;
		}
		.option:hover {
			color: $default-text-hover-color;
			background: $default-hover-color;
			transition: all 0.7s;
		}
		.option:last-child {
			border-radius: 0 0 4px 4px;
		}
	}
}
.dropdown:hover {
	background: $default-hover-color;
	transition: 0.7s all;
	.text, i {
		color: $default-text-hover-color;
	}
}

// Smartphones - Landscape + Portrait
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
